<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <h1>All Tasks</h1>
    <a href="./index.html">HOME</a>
    <Table class="table">
        <tr>
            <th>Task Name</th>
            <th>Task Due Date</th>
            <th>Task Description</th>
        </tr>
        <% for ( var i =0; i< taskDb.length;i++){ %>
            <tr>
                <td>
                    <%= taskDb[i].taskName %>
                </td>
                <td>
                    <%= taskDb[i].taskDueDate %>
                </td>
                <td>
                    <%= taskDb[i].taskDescription %>
                </td>
            </tr>
            <% }%>
    </Table>
</body>
</html>